/*
CSS for home page - Kaung
*/
body {
    background-color: #2d2d2d;
    position: fixed;
    margin-top: 40px;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.topleftpane {
    width: 30%;
    height: 20%;
    float: left;
    border-collapse: collapse;
    background-color: black;
}

.toprightpane {
    width: 70%;
    height: 20%;
    float: right;
    border-collapse: collapse;
    background-color: black;
}

.downleftpane {
    width: 68%;
    height: 80%;
    float: left;
    border-collapse: collapse;
}

.downrightpane {
    top: 35%;
    width: 30%;
    position: relative;
    float: right;
    border-collapse: collapse;
}

h1.describe {
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-style: italic;
    color: white;
}

button.start {
    margin-left: 400px;
    color: white;
    font-family: Helvetica;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 7px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.start:hover {
    border: 0px;
    color: yellow;
    background-color: black;
}

/* navigation bar style starts here */
img.logo1 {
    margin-top: 10px;
    padding-left: 100px;
    height: 150px;
    width: 150px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3 ease 0s;
}

.nav_links li a:hover {
    color: yellow;
}

li, a.navi {
    margin-top: 10px;
    float: right;
    padding: 25px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 25px;
    color: #edf0f1;
    text-decoration: none;
}
  
/* navigation bar style ends here */

img.logo2 {
    height: 300px;
    width: 300px;
}